
table.list{ 
    width:100%; 
    } 
    td, th { 
    border: 1px solid #dddddd; 
    text-align: left; 
    padding: 8px; 
    } 
    tr:nth-child(even),table.list thead>tr { 
    background-color: #dddddd; 
    } 
    form div.form-action-buttons{ 
    text-align: right; 
    } 
    a{ 
    cursor: pointer; 
    text-decoration: underline; 
    color: #0000ee; 
    margin-right: 4px; 
    } 
    label.validation-error{ 
    color: red; 
    margin-left: 5px; 
    } 
    .hide{ 
    display:none; 
    } 
    .navbar navbar-expand-xl navbar-dark navbar-fixed-top { 
    text-align: center; 
    color: black; 
    } 
    .li 
    { 
    color: black; 
    } 
    .container { 
    width: 500px; 
    clear: both; 
    text-align: center; 
    } 
    .container input { 
    width: 100%; 
    clear: both; 
    }

    